mixin checkout-info-passenger(names)
    section.ts-checkout-info-passenger
            h4.ts-subheading Информация о пассажирах
            .row
                each val in names
                    .col-6
                        div.ts-checkout-info-passenger__title #{val.name}
                    .col-6
                        div.ts-checkout-info-passenger__code № #{val.code}