mixin checkout-info-company(data)
    section.ts-checkout-info-company
            h4.ts-subheading Информация о компании
            .row
                .col-md-4.col-sm-12
                    div.ts-checkout-info-company__title Сфера вашего бизнеса
                .col-md-8.col-sm-12
                    div.ts-checkout-info-company__code  #{data.business}
            .row.mt-3
                .col-md-4.col-sm-12
                    div.ts-checkout-info-company__title Ваше подразделение
                .col-md-8.col-sm-12
                    div.ts-checkout-info-company__code  #{data.type}
            .row.mt-3
                .col-md-4.col-sm-12
                    div.ts-checkout-info-company__title Цель вашей поездки
                .col-md-8.col-sm-12
                    div.ts-checkout-info-company__code  #{data.purpose}