mixin details
    section.ts-details.d-none.d-lg-block
        h3.ts-details__heading Детали бронирования
        ul.ts-details__list
            li.ts-details__item
                span Взрослый 1
                span 18 500 ₸
            li.ts-details__item
                span Таксы и сборы
                span 280 ₸
        .ts-details__result.ts-details__item
            .ts-details__label Итого
            h2.ts-details__total 18 780 ₸