mixin flight-actions(action)
    .ts-flight__actions
        button.ts-button.ts-button--primary.ts-flight__button(type="button")
            span=action
        a.ts-flight__link(href="#") Зарезервировать поездку