mixin steps
    section.ts-steps
        .container
            .row
                .col-lg-9
                    ol.ts-steps__list
                        li.ts-steps__item.ts-steps__item--passed  Выбор рейса
                        li.ts-steps__item.ts-steps__item--active Пассажир
                        li.ts-steps__item Компания
                        li.ts-steps__item Подтверждение
                .col-lg-3.ts-steps__save-wrap
                    a.ts-steps__save
                        include /assets/icons/save.svg
                        span Сохранить