mixin company-info
    .ts-company__block.ts-company__block--bordered
        h4.ts-subheading.mt-0 Информация о компании

        form.ts-form
            .ts-flight__row.ts-flight__row--lg
                .ts-form__group
                    label.ts-form__label Пожалуйста, выберите ваше подразделение

                    .dropdown.js-dropdown
                        button.dropdown-toggle.ts-form__input(type="button" data-toggle="dropdown") Не выбрано

                        .dropdown-menu
                            a.dropdown-item(href="#") IT
                            a.dropdown-item(href="#") Продажи 

            .ts-flight__row.ts-flight__row--lg
                .ts-form__group
                    label.ts-form__label Пожалуйста, выберите ваше подразделение

                    .dropdown.js-dropdown
                        button.dropdown-toggle.ts-form__input(type="button" data-toggle="dropdown") Не выбрано

                        .dropdown-menu
                            a.dropdown-item(href="#") IT
                            a.dropdown-item(href="#") Продажи 

