mixin company-warning
    .ts-company__block.ts-company__block--bordered.my-0.pb-0
        .ts-flight__warning.ts-flight__warning--lg.m-0
            img(src="/assets/icons/warning.svg" alt="Внимание")
            article
                h5 Зарезервировать поездку:
                p 
                    | Чтобы сохранить данную поездку, щелкните кнопку 
                    strong “Зарезервировать поездку”. 
                    | Чтобы купить сохраненную поездку, перейдите на страницу Поездки.
                    | Если поездка не приобретена, система отменит ее через 
                    strong 11 часов в 16:45 GMT+06:00 в 2 июля 2020.