mixin passenger-info
    section.ts-info
        h4.ts-subheading Пассажир 1

        .ts-form.ts-info__form
            .ts-flight__row.ts-flight__row--xl
                .ts-form__group
                    label.ts-form__label Имя
                    input.ts-input.ts-form__input(type="text" placeholder="Введите ваше имя")

                .ts-form__group
                    label.ts-form__label Второе имя
                    input.ts-input.ts-form__input(type="text" placeholder="Введите ваше второе имя")

                .ts-form__group
                    label.ts-form__label Фамилия
                    input.ts-input.ts-form__input(type="text" placeholder="Введите вашу фамилию")

