include shared/_mixins

include checkout/_info-company
include checkout/_info-passenger

doctype html
html(lang="ru")
    +head('Checkout')
    - var  data = { business: 'Страховой бизнес', type: 'Юридическое сопровождение', purpose: 'Встреча с Resmi. Вопросы о регулировках в системе поддачи в ГДС ' }
    - var names = [{ name: 'Arman Mukatov', code: 222 }, { name: 'Dmitryi Skvortsov', code: '222'}]
    body
        .ts-page
            +header
            +steps
            section.ts-checkout
                .container
                    .row
                        .col-lg-9
                            h4.ts-subheading.d-lg-none.my-2 Ваш выбор:
                            - const route = 
                            -   { 
                            -     company: `fly-arystan`,
                            -     tarifs: 0,
                            -     routes: [
                            -       {
                            -         transfers: 0
                            -       }
                            -     ]
                            -   };
                                +result-block(0, route.company, route.tarifs, route.routes, true)

                                section.ts-checkout__content
                                    
                                    +checkout-info-passenger(names)
                                    +checkout-info-company(data)
                                    +flight-actions-single("Оплатить")

                        .col-lg-3
                            +details
        +mobile-menu
        +footer
