include shared/_mixins

include passenger/_info
include passenger/_seats
include passenger/_extras

doctype html
html(lang="ru")
    +head('Passenger')

    body
        .ts-page
            +header
            +steps
            section.ts-flight
                .container
                    .row
                        .col-lg-9
                            h4.ts-subheading.d-lg-none.my-2 Ваш выбор:
                            - const route = 
                            -   { 
                            -     company: `fly-arystan`,
                            -     tarifs: 0,
                            -     routes: [
                            -       {
                            -         transfers: 0
                            -       }
                            -     ]
                            -   };
                                +result-block(0, route.company, route.tarifs, route.routes, true)

                                section.ts-flight__content
                                    h3.ts-heading Информация о пассажире

                                    +passenger-info
                                    +passenger-seats
                                    +passenger-extras
            
                                    +flight-actions("Продолжить")
                        .col-lg-3
                            +details
        +mobile-menu
        +footer
