include shared/_mixins

include payment/_billing
include payment/_account-check

doctype html
html(lang="ru")
    +head('Payment')

    body
        .ts-page
            +header
            +steps
            section.ts-flight
                .container
                    .row
                        .col-lg-9
                            - const route = 
                            -   { 
                            -     company: `fly-arystan`,
                            -     tarifs: 0,
                            -     routes: [
                            -       {
                            -         transfers: 0
                            -       },
                            -       {
                            -         transfers: 0
                            -       }
                            -     ]
                            -   };
                                +result-block(0, route.company, route.tarifs, route.routes, true)

                                section.ts-flight__content
                                    h3.ts-heading Информация об оплате
                                    
                                    +payment-billing
                                    +payment-account-check

                                    +flight-actions("Продолжить")

                        .col-lg-3
                            +details
        +mobile-menu
        +footer
        +footer-base
